<div class="post-actions-btns">
  <button
    class="go-back-news-btn mb-5"
    (click)="goBack()"
  >
    <span class="arrow">&#8592;</span> Вернуться назад
  </button>
  <app-edit-button
    (edit)="redirectToEditPage()">
  </app-edit-button>
</div>

<div class="news-detail-card">
  <div class="card-header">
    <img [src]="post.previewImage" alt="News Image"
         class="post-image">
    <div class="card-meta">
      <h1 class="news-title">{{ post.title }}</h1>
    </div>
  </div>

  <div class="card-content">
    <div class="article-meta">
      <div class="author-info">
        <div class="author-avatar">{{avatarName}}</div>
        <div class="author-details">
          <h4>{{ post.author.firstName + " " + post.author.lastName }}</h4>
        </div>
      </div>
      <div class="post-date">
        <span>📅</span>
        <span>{{ post.createdAt | date:'dd MMMM yyyy':'':'ru' }}</span>
      </div>
    </div>

    <div class="post-details">
      <div [innerHTML]="post?.content"></div>
    </div>
  </div>
</div>

