.cal-time-secondary {
  font-weight: 400;
}

.cal-event-description {
  color: #000;
  font-size: 10px;
  line-height: 20px;
  white-space: normal;
  flex: 1;
}


.cal-event-title-lesson {
  line-height: 20px;
  white-space: normal; /* позволяет тексту переходить на новую строку */
  height: 2em; /* задаем высоту блока в две строки текста */
  overflow: hidden;
  max-height: 3em;
  flex: 1;
}

.pre-line {
  white-space: pre-line;
}

.filter-container {
  max-width: 200px;
  margin-bottom: 20px;
}

.schedule-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.event-popup {
  position: fixed;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
}
