.cal-time-secondary {
  font-weight: 400;
}

.cal-event-description {
  color: #000;
  font-size: 10px;
  line-height: 20px;
  white-space: normal;
  flex: 1;
}


.cal-event-title-lesson {
  line-height: 20px;
  white-space: normal; /* позволяет тексту переходить на новую строку */
  height: 2em; /* задаем высоту блока в две строки текста */
  overflow: hidden;
  max-height: 3em;
  flex: 1;
}

.pre-line {
  white-space: pre-line;
}

.filter-container {
  max-width: 200px;
  margin-bottom: 20px;
}

.schedule-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

//.event-popup {
//  position: fixed;
//  z-index: 1000;
//  background: white;
//  border: 1px solid #ccc;
//  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//  padding: 10px;
//  border-radius: 4px;
//  max-width: 300px;
//}

.schedule-wrapper {
  margin-top: 40px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(102, 126, 234, 0.3);
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 30px;
  padding-left: 20px;
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 30px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 2px;
}

.schedule-buttons {
  margin-bottom: 25px;
}

//::ng-deep .cal-week-view .cal-time-events .cal-day-column {
//  width: 300px !important;
//}

.event-popup {
  position: fixed;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  min-width: 200px;
}
