version: "3.7"
services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  db:
    image: postgres:15.0-alpine
    container_name: uits-postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ./backend/db.local.env
    volumes:
      - /var/postgres_data:/var/lib/postgresql/data/
  
  redis:
    image: "redis:7.2.4-alpine"
    container_name: uits-redis
    ports:
      - "6379:6379"
