.container {
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*transition: transform 0.2s ease-in-out;*/
}

.card:hover {
  /*transform: scale(1.02);*/
}

.personal-info__wrapper {
  height: 429px;
}

.image {
  height:80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.card-title {
  color: #343a40;
  font-weight: bold;
  text-align: center;
}

.card-text {
  text-align: center;
}

.color-heading {
  color: #007bff;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px auto 30px;

  object-fit: cover;
  object-position: center;
}

.card-body p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

b {
  color: #222;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-4, .col-md-8 {
    width: 100%;
  }
}
