<ng-container *ngIf="teacher$ | async">
  <main class="info-grid">
    <div class="info-block">
      <h1 class="info-title">Общая информация</h1>

      <div class="info-section experience">
        <h2 class="subtitle">Стаж работы</h2>
        <p><b>Общий стаж:</b> {{ experience }}</p>
        <p><b>По специальности:</b> {{ professional_experience }}</p>
      </div>

      <div class="info-section education">
        <h2 class="subtitle">Образование</h2>
        <div class="description" [innerHTML]="education"></div>
      </div>

      <div class="info-section qualification">
        <h2 class="subtitle">Повышение квалификации</h2>
        <div class="description" [innerHTML]="qualification"></div>
      </div>
    </div>
    <div class="contacts">
      <h2 class="subtitle">Контактная информация</h2>
      <ul class="contacts-list">
        <li class="contact">
          <div class="contact-icon">📧</div>
          <div>
            <strong>Email:</strong><br/>
            <a [href]="'mailto:' + email">{{ email }}</a>
          </div>
        </li>
        <li class="contact">
          <div class="contact-icon">📞</div>
          <div>
            <strong>Телефон:</strong><br/>
            <a [href]="'tel:' + phone">{{ phone }}</a>
          </div>
        </li>
        <li class="contact">
          <div class="contact-icon">💬</div>
          <div>
            <strong>Мессенджер:</strong><br/>
            {{ messenger }}
          </div>
        </li>
      </ul>
    </div>
  </main>
</ng-container>
