<ng-container *ngIf="teacher$ | async as teacher; else loading">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 personal-info__wrapper">
          <img [src]="avatar" class="card-img-top avatar" [alt]="fullName">
          <div class="card-body">
            <h5 class="card-title">{{ fullName }}</h5>
            <p class="card-text">{{ position }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title color-heading">Общая информация</h4>
            <p><b>Должность</b>: {{ position }}</p>
            <p><b>Ученая степень</b>: {{ degree }}</p>
            <p><b>Ученое звание</b>: {{ rank }}</p>
            <p><b>Общий стаж работы</b>: {{ experience }}</p>
            <p><b>Стаж работы по специальности</b>: {{ professional_experience }}</p>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title color-heading">Контакты</h4>
            <p><b>Телефон</b>: {{ phone }}</p>
            <p><b>Почта</b>: {{ email }}</p>
            <p><b>Мессенджер</b>: {{ messenger }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="teacher.education" class="card mb-4">
      <div class="card-body">
        <h4 class="card-title color-heading">Образование</h4>
<!--        <p>{{ education }}</p>-->
        <div [innerHTML]="education"></div>
      </div>
    </div>

    <div *ngIf="teacher.qualification" class="card mb-4">
      <div class="card-body">
        <h4 class="card-title color-heading">Данные о повышении квалификации и (или) профессиональной переподготовке (за последние 5 лет)</h4>
<!--        <p>{{ qualification }}</p>-->
        <div [innerHTML]="qualification"></div>
      </div>
    </div>

    <div *ngIf="teacher.bio" class="card mb-4">
      <div class="card-body">
        <h4 class="card-title color-heading">Биография</h4>
        <p>{{ bio }}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Загрузка...</span>
    </div>
  </div>
</ng-template>
