<ng-container *ngIf="publications$ | async as publications">
  <main class="publications-main">
    <h1 class="publications-title">Публикации преподавателя</h1>
    <div class="publications-grid">
      <div class="publications-card" *ngFor="let publication of publications">
        <h2 class="publication-name">{{ publication.name }}</h2>
        <p class="publication-details">{{ publication.description }}</p>
        <div class="publication-meta">
          <span class="publication-year">{{ publication.year }}</span>
          <div class="publication-tags">
            <span class="publication-tag" *ngFor="let tag of publication.tags">{{tag.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>
