<div class="container">
  <div class="navbar">
    <button class="go-back-btn"
            routerLink="/scientific-activities/publications/main-science-page"
    >
      <i class="feather icon-arrow-left go-back-btn__icon"></i>
      <span class="go-back-btn__text">Вернуться на страницу просмотра</span>
    </button>
    <hr class="line">
    <div class="inputs-wrapper mx-auto">
      <form class="form-style" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input
          formControlName="search_string"
          style="width: 210px"
          class="form-control input-style"
          placeholder="Введите полное имя автора"
          type="text"
        />
        <button
          [disabled]="form.invalid"
          class="btn btn-primary btn-sm"
          style="width: 37px; height: 37px"
          type="submit">
          <i class="la la-search"></i>
        </button>
      </form>
    </div>
    <hr class="line">
    <p class="sub-heading">Вы можете выбрать автора из списка: </p>
    <div>
      <ng-select
        *ngIf="authorsName.length > 0"
        #selectAuthor
        [items]="authorsName"
        [(ngModel)]="selectedAuthor"
        (change)="onChange($event)"
        style="width: 270px"
      >
      </ng-select>
    </div>
  </div>

  <ng-container *ngIf="isLoading$ | async; else content">
    <span class="loader"></span>
  </ng-container>

  <ng-template #content>
    <div class="content-publications">
      <ng-container *ngIf="isOverRequested; else publications">
        <h4 class="h4_form_style">Превышен лимит запросов</h4>
      </ng-container>

      <ng-template #publications>
        <div class="publications-wrapper" *ngIf="profileCardsForEditingMap.size > 0">
          <div class="publication" *ngFor="let publication of profileCardsForEditingMap.keys()">
            <app-editable-publication-card
              [publication]="publication"
              [mode]="'serp-api'"
              [tagsWithStylesMap]="profileCardsForEditingMap.get(publication)!"
              (edit)="saveCard($event)"
            ></app-editable-publication-card>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
