:host ::ng-deep ngx-datatable .datatable-header-cell {
  color: #007bff;
}

:host ::ng-deep ngx-datatable .datatable-header-cell:nth-child(1),
:host ::ng-deep ngx-datatable .datatable-body-cell:nth-child(1) {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  text-align: left;
}

:host ::ng-deep ngx-datatable .datatable-header-cell:nth-child(3),
:host ::ng-deep ngx-datatable .datatable-body-cell:nth-child(3) {
  width: 400px !important;
  min-width: 400px !important;
  max-width: 400px !important;
  text-align: left;
}


