<h1>Аспирантура</h1>

<app-editable-content page="postgraduate"></app-editable-content>

<h3>Аспиранты, руководители и специальности</h3>
<input
    #searchInput
    type="text"
    class="form-control mb-3"
    placeholder="Введите для поиска..."
    (keyup)="search(searchInput.value)"
/>
<ngx-datatable
    #table
    [columns]="columns"
    columnMode="force"
    [headerHeight]="50"
    [footerHeight]="0"
    rowHeight="auto"
    [rows]="rows"
>
  <ngx-datatable-column
    name="№"
    [sortable]="false"
    [cellTemplate]="indexColumnTemplate">
  </ngx-datatable-column>
</ngx-datatable>

<ng-template #indexColumnTemplate let-rowIndex="rowIndex">
  {{ rowIndex + 1 }}
</ng-template>
