<div class="announcement-detail">

  <div class="controls">
    <button class="go-back-btn" (click)="goBack()">
      <span class="arrow">&#8592;</span> Вернуться назад
    </button>
    <app-edit-button (edit)="redirectToEditPage()"></app-edit-button>
  </div>

  <div class="announcement-container">
  <div *ngIf="conference$ | async as conference" class="announcement-content">

    <div class="announcement-image">
      <img [src]="conference?.preview_image" [alt]="conference?.preview_image_description" class="conference-image" />
    </div>

    <div class="announcement-details">
      <h1 class="conference-title">{{ conference?.title }}</h1>
      <div class="conference-description" [innerHTML]="conference?.content"></div>

      <div class="announcement-footer">
        <div *ngIf="conference?.start_date && conference?.end_date" class="footer-item">
          <span class="footer-label">Даты проведения:</span>
          <span class="footer-value">
            {{ conference?.start_date | date: 'dd.MM.yyyy' }} - {{ conference?.end_date | date: 'dd.MM.yyyy' }}
          </span>
        </div>

        <div *ngIf="conference?.time" class="footer-item">
          <span class="footer-label">Время:</span>
          <span class="footer-value">{{ conference?.time | timeWithoutSs }}</span>
        </div>

        <div *ngIf="conference?.organizer" class="footer-item">
          <span class="footer-label">Организатор:</span>
          <span class="footer-value">{{ conference?.organizer }}</span>
        </div>

        <div *ngIf="conference?.contact_email || conference?.contact_phone" class="footer-item">
          <span class="footer-label">Контакты:</span>
          <span class="footer-value">
            <a *ngIf="conference?.contact_email" [href]="'mailto:' + conference?.contact_email" class="contact-link">
              {{ conference?.contact_email }}
            </a>
            <span *ngIf="conference?.contact_phone">, {{ conference?.contact_phone }}</span>
          </span>
        </div>

        <div class="footer-item">
          <span class="footer-label">Дата создания:</span>
          <span class="footer-value">{{ conference?.created_at | date: 'dd.MM.yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
