<app-create-button
  (create)="onCreateTeacher()">
</app-create-button>

<div class="head-of-department__wrapper">
  <h2>Заведующий кафедрой управления и информатики в технических системах</h2>
  <div class="head-of-department__info">
    <img class="head-of-department__info__photo" src="/assets/images/contributors/chekanin-vladislav.jpg" alt="">
    <div>
      <h3 class="head-of-department__info__name">Чеканин Владислав Александрович</h3>
      <div class="head-of-department__info__contacts">
        <p><b>Почта:</b> v.chekanin@stankin.ru</p>
        <p><b>Телефон:</b> +7 (499) 973-39-13</p>
      </div>
    </div>
  </div>
</div>

<h2 class="mb-4">Сотрудники кафедры</h2>

<div *ngIf="(teacher$ | async).length !== 0; else loading">
  <div class="teachers__wrapper">
    <div *ngFor="let employee of teacher$ | async" class="card">
      <div
        class="d-flex justify-content-center"
      >
        <img
        [src]="(!employee.avatar)?AVATAR_DEFAULT_URL : employee.avatar"
        class="card-img-top mx-auto mt-4 mx-5 rounded-circle image"
        alt="...">
      </div>
      <div class="card-body">
        <h4
          class="card-title text-center">{{ employee.last_name }} {{ employee.first_name }} {{ employee.patronymic }}</h4>
        <p
          class="card-text text-center">{{ getEmployeePositions(employee) }}</p>
      </div>
      <div class="overlay">
        <div>
          <app-edit-button
            class="edit-button-teacher"
            (edit)="onEditTeacher(employee.id)">
          </app-edit-button>
        </div>
        <div class="overlay-content">
          <img
            [src]="(!employee.avatar)?AVATAR_DEFAULT_URL: employee.avatar"
            class="card-img-top mx-auto mx-5 rounded-circle img"
            alt="avatar"
          >

<!--          <p class="text">Дополнительная информация</p>-->
          <p class="text">{{ employee.last_name }} {{ employee.first_name }} {{ employee.patronymic }}</p>
          <button class="btn btn-primary" (click)="moveToEmployee(employee.id)">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  <h3>Сотрудников пока нет</h3>
</ng-template>

