<div *ngIf="publication && !isEditing" class="publication-card">
  <div class="publication-card__tag">
    <div *ngFor="let tag of publication.tags" class="tag">{{ tag.name }}</div>
  </div>
  <div class="publication-card__name">
    <h4><b>{{ publication.name }}</b></h4>
  </div>
  <div class="publication-card__author">
    <span>{{ publication.author?.join(', ') }}</span>
  </div>
  <hr class="card-divider" />
  <div class="publication-card__description">
    <span>{{ publication.description }}</span>
  </div>
  <div *ngIf="publication.pages" class="publication-card__author">
    <span>Страницы: {{ publication.pages }}</span>
  </div>
  <div *ngIf="publication.vol_n" class="publication-card__author">
    <span>Номер тома: {{ publication.vol_n }}</span>
  </div>
  <div *ngIf="publication.isbn" class="publication-card__author">
    <span>Isbn: {{ publication.isbn }}</span>
  </div>
  <div *ngIf="publication.source" class="publication-card__author">
    <span>Источник: {{ publication.source }}</span>
  </div>
  <div *ngIf="publication.year" class="publication-card__author">
    <span>Год издания: {{ publication.year }}</span>
  </div>

  <div class="circle-action-btns">
    <app-edit-button
      (edit)="onEditCard()">
    </app-edit-button>

    <div *ngIf="publication.file" class="action-btn">
      <div
        class="btn-add__item font-size-lg mb-3"
        (click)="downloadFile(publication.file)"
        tooltip="Скачать статью"
        placement="left"
      >
        <i class="feather icon-download"></i>
      </div>
    </div>

    <div *ngIf="publication.url" class="action-btn">
      <a
        [href]="publication.url"
        target="_blank"
        tooltip="Перейти к источнику"
        placement="left"
      >
        <div
          class="btn-add__item font-size-lg"
        >
          <i class="feather icon-arrow-up-right"></i>
        </div>
      </a>
    </div>
  </div>

</div>

<app-editable-publication-card
  *ngIf="publication && isEditing"
  [publication]="publication"
  [tagsWithStylesMap]="tagsMap"
  (delete)="deleteCard()"
></app-editable-publication-card>

<div *ngIf="!publication">
  <span>Публикаций нет</span>
</div>
