<div *ngIf="publication && !isEditing" class="publication-card">
  <div class="publication-card__tag">
    <div *ngFor="let tag of publication.tags" class="tag">{{ tag.name }}</div>
  </div>
  <div class="publication-card__name">
    <h4><b>{{ publication.name }}</b></h4>
  </div>
  <div class="publication-card__author">
    <span>{{ shortAuthorsView?.join(', ') }}</span>
  </div>
  <hr class="card-divider" />
  <div class="publication-card__description">
    <span>{{ publication.description }}</span>
  </div>
  <div *ngIf="publication.pages" class="publication-card__author">
    <span><b>Страницы:</b> {{ publication.pages }}</span>
  </div>
  <div *ngIf="publication.vol_n" class="publication-card__author">
    <span><b>Номер тома:</b> {{ publication.vol_n }}</span>
  </div>
  <div *ngIf="publication.isbn" class="publication-card__author">
    <span><b>ISBN/ISSN:</b> {{ publication.isbn }}</span>
  </div>
  <div *ngIf="publication.source" class="publication-card__author">
    <span><b>Источник:</b> {{ publication.source }}</span>
  </div>
  <div *ngIf="publication.year" class="publication-card__author">
    <span><b>Год издания:</b> {{ publication.year }}</span>
  </div>

  <div class="circle-action-btns">
    <app-edit-button
      (edit)="openEditModal()">
    </app-edit-button>
    <app-delete-button
      (delete)="openDeleteModal()">
    </app-delete-button>

    <div *ngIf="publication.file" class="action-btn">
      <div
        class="btn-add__item font-size-lg mb-3"
        (click)="downloadFile(publication.file)"
        tooltip="Скачать статью"
        placement="left"
      >
        <i class="feather icon-download"></i>
      </div>
    </div>

    <div *ngIf="publication.url" class="action-btn">
      <a
        [href]="publication.url"
        target="_blank"
        tooltip="Перейти к источнику"
        placement="left"
      >
        <div
          class="btn-add__item font-size-lg"
        >
          <i class="feather icon-arrow-up-right"></i>
        </div>
      </a>
    </div>
  </div>

</div>

<app-editable-publication-card
  *ngIf="publication && isEditing"
  [publication]="publication"
  [tagsWithStylesMap]="tagsMap"
  (delete)="openDeleteModal()"
></app-editable-publication-card>

<div *ngIf="!publication">
  <span>Публикаций нет</span>
</div>

<ng-template #deleteModal>
  <div class="modal-header">
    <h4 class="modal-title">Подтверждение удаления</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="hideDeleteModal()"></button>
  </div>
  <div class="modal-body">
    <p>Вы уверены, что хотите удалить публикацию "{{publication?.name}}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideDeleteModal()">Отмена</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Удалить</button>
  </div>
</ng-template>
