.container {
  display: flex;
  gap: 20px;
}

.navbar {
  background-color: #fff;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  margin-left: 30px;
}

.search-input {
  margin: 20px 0 0 30px;
}

.tags-wrapper {
  background-color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  background-color: rgba(241, 241, 241, 0.85);
  padding: 7px;
  border-radius: 6px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .tag-name {
    background-color: rgba(224, 247, 255, 0.85);
    color: #007bff;
    font-weight: 500;
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 12px;
    border: 1px solid #007bff;
    min-width: 100px;
    max-width: 350px;
    text-align: center;
  }
}

.save-wrapper {
  display: flex;
  align-items: center;
}
