.history-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.university-logo {
  max-width: 200px;
  height: auto;
}

.history-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.history-section {
  margin-bottom: 40px;
  background: #ffffff; /* Белый фон */
  border-radius: 6px; /* Закругленные углы для карточки */
  padding: 20px; /* Отступы внутри карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Небольшая тень для объема */
  transition: transform 0.2s ease-in-out; /* Добавляем анимацию увеличения */
}

.history-section:hover {
  transform: scale(1.05) translateY(-5px);
  z-index: 1; /* Поднимаем карту наверх, чтобы она перекрывала другие карты */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличиваем тень для немного большего объема */
}

.history-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.history-section p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.history-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
