<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История кафедры УИТС</title>
</head>
<body>
    <div class="history-container">
        <div class="logo-section">
            <img src="\assets\images\UITS.png" alt="Логотип кафедры" class="university-logo">
        </div>
        <h1 class="mb-4">История кафедры УИТС</h1>
        <div class="history-section">
            <h2>Основание кафедры</h2>
            <p>Кафедра управления и информатики в технических системах (УИТС) была создана в сентябре 2004 года на базе факультета механики и управления с целью развития новых учебно-научных направлений, связанных с развитием исследований и обучения на стыке различных областей знаний. Её созданию предшествовало создание в 2003/2004 учебном году и функционирование одноимённого научного центра. Первым её заведующим кафедрой был д-р техн. наук, профессор Е.Е. Ковшов.</p>
            <img src="\assets\images\Personal.jpg" alt="Персонал кафедры УИТС" class="university-logo">
        </div>
        <div class="history-section">
            <h2>Развитие и достижения</h2>
            <p>В связи с общей реорганизацией подразделений университета в 2009 году кафедра переходит в состав факультета информационных технологий как кафедра управления и информатики в технических системах. В это время наряду с преподаванием дисциплин информационной направленности для различных направлений подготовки, кафедра осуществляла подготовку магистров по магистерской программе «Человеко-машинные системы управления».</p>
            <p>Под руководством д-ра техн. наук, профессора Е.Е. Ковшова основное направление научных исследований и практических разработок было связано с созданием, сопровождением, развитием и информационным обеспечением средств вычислительной техники, коммуникаций и связи для автоматизированной обработки информации в различных прикладных областях. Научные исследования, выполняемые сотрудниками кафедры, соискателями и аспирантами, становятся основой при подготовке кандидатских диссертаций по ряду специальностей ВАК РФ: «Системный анализ, управление и обработка информации (технические системы)», «Автоматизация и управление технологическими процессами и производствами (технические системы)», «Теоретические основы информатики», «Математические и инструментальные методы экономики».</p>
            <p>За период с 2003 по 2009 год по результатам выполненных на кафедре научных исследований было защищено 9 диссертаций на соискание учёной степени кандидата наук.</p>
           
        </div>
        <div class="history-section">
            <h2>Новые направления и сотрудничество</h2>
            <p>В 2011 году кафедра стала выпускающей по направлению подготовки «Прикладная информатика», принимая студентов на новый профиль «Разработка программного обеспечения».</p>
            <p>В 2013 году заведующим кафедрой был назначен д-р экон. наук, профессор В.В. Баранов. Кафедра стала активно развивать связи с предприятиями отечественного оборонно-промышленного комплекса, взаимодействуя с такими предприятиями, как ПАО «Туполев», ОАО «Научно-производственное предприятие «Звезда» им. Г.И. Северина».</p>
            <p>В 2015 году на кафедре состоялся первый выпуск бакалавров, в том же году кафедрой был осуществлён первый набор магистрантов на направление «Информатика и вычислительная техника».</p>
            <p>В 2017 году кафедра начала подготовку бакалавров по профилю «Управление данными» в рамках направления подготовки «Прикладная информатика», а также подготовку магистрантов по программе «Имитационное моделирование в среде виртуального предприятия» в рамках направления подготовки «Информатика и вычислительная техника».</p>
            <p>С 2018 по 2022 год кафедрой руководил д-р техн. наук, профессор А.В. Олейник. Кафедра начала активное сотрудничество с компанией Samsung в рамках реализации образовательного трека по искусственному интеллекту. С 2018 года кафедра ежегодно проводит Международный научный Форум профессорско-преподавательского состава и молодых ученых «Цифровые технологии: наука, образование, инновации», в рамках которого проводится ряд конференций на различных площадках, среди которых: МГУ им. М.В. Ломоносова, Московский Политех, РГУ нефти и газа (НИУ) имени И.М. Губкина, Севастопольский государственный университет, Крымский федеральный университет имени В.И. Вернадского и др.</p>
            <img src="\assets\images\CT-2022.jpg" alt="ЦТ-2022" class="university-logo">
        </div>
    </div>
</body>
</html>
