<!--<app-editable-content page="contributors"></app-editable-content>-->
<h1>Выражаем огромную благодарность всем, кто принимал участие в создании этого проекта</h1>
<hr>
<br>
<table class="table table-striped">
  <tbody>
  <tr>
    <td>Ерин Сергей</td>
  </tr>
  <tr>
    <td>Вдовенко Данил</td>
  </tr>
  <tr>
    <td>Медведев Вадим</td>
  </tr>
  <tr>
    <td>Шостов Дмитрий</td>
  </tr>
  <tr>
    <td>Рябцев Михаил</td>
  </tr>
  <tr>
    <td>Осипова Ксения</td>
  </tr>
  <tr>
    <td>Вежновец Дмитрий</td>
  </tr>
  <tr>
    <td>Лебедев Александр</td>
  </tr>
  <tr>
    <td>Станьков Дмитрий</td>
  </tr>
  <tr>
    <td>Мокроусова Лариса</td>
  </tr>
  <tr>
    <td>Бадян Ксения</td>
  </tr>
  <tr>
    <td>Бадян Анастасия</td>
  </tr>
  <tr>
    <td>Золотухин Иван</td>
  </tr>
  <tr>
    <td>Мальцев Тимофей</td>
  </tr>
  <tr>
    <td>Вьюев Сергей</td>
  </tr>


  </tbody>
</table>
