<h3 class="header">Выражаем огромную благодарность всем, кто принимал участие в создании портала кафедры</h3>
<hr>

<div class="team-container">
  <button (click)="scrollLeft()"> < </button>
  <div class="team-wrapper" #scrollContainer>
    <div class="team-member" *ngFor="let contributor of contributors">
      <img [src]="contributor.image" [alt]="contributor.name" />
      <p class="name">{{ contributor.name }}</p>
      <p class="description"> {{ contributor.description }}</p>
    </div>
  </div>
  <button (click)="scrollRight()"> > </button>
</div>
