<div class="container">
  <div class="navbar"
       [ngStyle]="(authService.canEdit() | async) === true ? { 'height': '760px' } : { 'height': '530px' }"
  >
    <div class="header">
      <i class="la la-cog icon"></i>
      <h1 class="heading">
        Панель управления публикациями
      </h1>
    </div>
    <hr class="line">
    <div>
      <input
        id="search-tag_input"
        (keyup)="searchScienceCards()"
        class="form-control"
        placeholder="Искать по названию"
        [(ngModel)]="searchString"
        type="text"
      />
    </div>
    <hr class="line" *ngIf="authService.canEdit() | async">
    <div class="admin-menu" *ngIf="authService.canEdit() | async">
      <p class="sub-heading">Перейти на страницы: </p>
      <ul>
        <li *ngFor="let menuItem of adminMenu">
          <a
            [routerLink]="menuItem.route"
            routerLinkActive="active"
          >
            <i [class]="menuItem.icon" class="icon"></i>
            <span class="menu-text">
              {{ menuItem.title }}
            </span>
          </a>
        </li>
      </ul>
    </div>
    <hr class="line">
    <div>
      <p class="sub-heading">Фильтровать публикации: </p>
      <div class="buttons">
        <div class="button-select-wrapper">
          <button class="button" role="button" (click)="toggleFilterVisible('authors')">По автору</button>
          <div class="select-menu" *ngIf="visibilityMap.authors">
            <ul class="select-item">
              <li
                *ngFor="let author of authorsMap.keys(); trackBy: trackByFn"
                (click)="onAuthorClick(author)"
              >
                <button [ngClass]="authorsMap.get(author)">{{ author }}</button>
              </li>
            </ul>
          </div>
          <button class="button" role="button" (click)="toggleFilterVisible('tags')">По тегу</button>
          <div class="select-menu" *ngIf="visibilityMap.tags">
            <ul class="select-item">
              <li
                *ngFor="let tag of tagsMap.keys(); trackBy: trackByFn"
                (click)="onTagsClick(tag)"
              >
                <button [ngClass]="tagsMap.get(tag)">{{ tag }}</button>
              </li>
            </ul>
          </div>
          <button class="button" role="button" (click)="toggleFilterVisible('years')">По году</button>
          <div class="select-menu" *ngIf="visibilityMap.years">
            <ul class="select-item">
              <li
                *ngFor="let year of yearsMap.keys(); trackBy: trackByFn"
                (click)="onYearClick(year)"
              >
                <button [ngClass]="yearsMap.get(year)">{{ year }}</button>
              </li>
            </ul>
          </div>
          <button class="button" role="button" (click)="toggleFilterVisible('sources')">По источнику</button>
          <div class="select-menu" *ngIf="visibilityMap.sources">
            <ul class="select-item">
              <li
                *ngFor="let source of sourceMap.keys(); trackBy: trackByFn"
                (click)="onSourceClick(source)"
              >
                <button [ngClass]="sourceMap.get(source)">{{ source }}</button>
              </li>
            </ul>
          </div>
          <hr class="line">
          <button class="button-clear" (click)="cleanFilter()">Очистить фильтр</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="publications.size > 0" class="cards">
      <div *ngFor="let profile of publications.keys(); trackBy: trackByFn">
        <app-profile-card
          [profile]="profile"
          [tagsMap]="publications.get(profile)!"
        ></app-profile-card>
      </div>
    </div>
    <div *ngIf="publications.size === 0">Публикаций пока нет</div>
  </div>
</div>
