<main class="achievements-main">
  <h1 class="achievements-title">Публикации преподавателя</h1>
  <div class="achievements-container">
    <div
      *ngFor="let achievement of achievements"
      class="achievement-card"
      (click)="openAchievementById(achievement.id)"
    >
      <div class="achievement-image">
        <img [src]="achievement.image" alt="Achievement Image">
      </div>
      <div class="achievement-description">
        <p>{{ achievement.description }}</p>
      </div>
    </div>
  </div>
</main>
