
<div class="achievement-detail">
  <div class="controls">
    <button class="go-back-btn" (click)="goBack()">
      <span class="arrow">&#8592;</span> Вернуться назад
    </button>
    <app-edit-button
      (edit)="redirectToEditPage()">
    </app-edit-button>
  </div>

  <div *ngIf="isLoading" class="loading-state">
    <p>Загрузка...</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="achievement$ | async as achievement" class="achievement-content">
    <div class="achievement-image">
      <img [src]="achievement?.image" alt="Achievement Image"/>
    </div>

    <div class="achievement-details">
      <h1>{{ achievement?.title }}</h1>
      <div [innerHTML]="achievement?.content"></div>

      <div class="achievement-footer">
        <div *ngIf="achievement?.teacher">
          <strong>Преподаватель:</strong> {{ achievement?.teacher }}
        </div>
        <div>
          <strong>Дата создания:</strong> {{ achievement?.createdAt | date: 'dd.MM.yyyy' }}
        </div>
      </div>

    </div>
  </div>
</div>
