<main class="partners-page">
  <h1 class="page-title">Наши партнёры</h1>
  <p class="page-subtitle">
    Мы сотрудничаем с ведущими IT-компаниями и организациями.
  </p>

  <section class="partners-logos">
    <div class="partner-logo">
      <img src="/assets/images/partners/yandex.png" alt="Яндекс">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/sber.png" alt="Сбербанк">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/ozon.png" alt="Ozon">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/bis.png" alt="Банковские информационные системы">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/domrf.png" alt="Дом РФ">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/elbius.png" alt="Элбиус">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/evtika.gif" alt="Эврика">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/farmsolutions.png" alt="Фарм Солюшенс">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/gramant.png" alt="Gramant">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/hrunichev.png"
           alt="Государственный космический научно-производственный центр имени М.В. Хруничева">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/ipu.jpg" alt="ИПУ РАН">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/konsaltika.jpg" alt="Консалтика">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/krok.png" alt="КРОК">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/lanit.jpg" alt="Ланит">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/liga.png" alt="Лига цифровой экономики">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/pfr.jpg" alt="ПФР">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/rbs.png" alt="Российские банковские системы">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/rks.png" alt="Российская корпорация ракетно-космического приборостроения и информационных систем">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/strahovanie.jpg" alt="Сбер страхования">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/taxcom.jpg" alt="Taxcom">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/tot.png" alt="Системы управления инновациями">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/trukonf.png" alt="Труконф">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/vsk.png" alt="ВСК страховой дом">
    </div>
    <div class="partner-logo">
      <img src="/assets/images/partners/zenit.png" alt="Зенит">
    </div>
  </section>
</main>
