<app-create-button (create)="redirectToAdd()"></app-create-button>
<ng-container *ngIf="conferenceAnnouncements$ | async as conferences">
  <div *ngIf="conferences.length > 0; else empty" class="conference-wrapper">
    <div class="conference-item" *ngFor="let conference of conferences" (click)="redirectToDetail(conference.id)">
      <div class="conference-info">
        <h1 class="conference-title">{{ conference.title }}</h1>
        <div class="conference-content">
          {{conference.description}}
        </div>
        <button class="btn btn-info btn-redirect" (click)="redirectToDetail(conference.id)">Подробнее</button>
      </div>
      <div class="conference-image">
        <img [src]="conference.preview_image" [alt]="conference.title" class="conference-img">
        <div class="conference-date">
          <i>Дата размещения объявления: {{ conference.created_at | date: 'dd.MM.yyyy' }}</i>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <p>Нет доступных объявлений</p>
</ng-template>

