<app-create-button (create)="redirectToCreatePage()"></app-create-button>

<div class="container">
  <header class="news-header">
    <span class="news-header__icon">📢</span>
    <h1 class="news-header__heading">Объявления кафедры</h1>
  </header>
  <div class="news-grid" *ngIf="(response$ | async) as response; else empty">
    <article
      (click)="openDetails(post.id)"
      class="news-card"
      *ngFor="let post of response.results; let i = index"
    >
      <div
        class="news-image"
        [style.background]="gradients[i % gradients.length]"
      >
        <img [src]="post.previewThumbnail" class="news__img" alt="">
        <div class="news-date">{{ post.createdAt | date:'dd MMM yyyy':'':'ru' }}</div>
      </div>
      <div class="news-content">
        <h2 class="news-title">
          {{ post.title }}
        </h2>
        <p class="news-excerpt">
          {{ post.shortDescription }}
        </p>
        <div class="news-meta">
          <span class="news-author">{{ post.author.firstName + " " + post.author.lastName }}</span>
          <a [routerLink]="getPostURL(post.id)" class="read-more">Читать полностью</a>
        </div>
      </div>
      <app-edit-button
        class="edit-news-btn"
        (edit)="redirectToEditPage(post.id)"
        (click)="$event.stopPropagation()"
      >
      </app-edit-button>
    </article>
    <div *ngIf="response.count > itemsPerPage" class="pagination">
      <app-pagination
        [totalItems]="response.count"
        (pageChange)="pageChanged()"
        [itemsPerPage]="itemsPerPage"
        [maxSize]="maxSize"
      ></app-pagination>
    </div>
  </div>
</div>


<ng-template #empty>
  <div class="d-flex justify-content-center">
    <span>Здесь пока ничего нет</span>
  </div>
</ng-template>
