<main class="main" *ngIf="teacher$ | async; else loading">
  <nav class="breadcrumb">
    <a routerLink="/">Кафедра УИТС</a>
    <span>→</span>
    <a routerLink="/about/employee/teachers">Сотрудники</a>
    <span>→</span>
    <span>{{ fullName }}</span>
  </nav>

  <header class="profile-header">
    <img class="profile-photo" [src]="avatar" [alt]="fullName">
    <div class="profile-info">
      <h1 class="profile-name">{{ fullName }}</h1>
      <p class="profile-position">
        {{ position }}
      </p>
      <p class="profile-degree">{{ degree }} {{degree ? ',' : ''}} {{ rank }}</p>

      <div class="contacts">
        <a [href]="email" class="contact" *ngIf="email">📧 Почта </a>
        <a [href]="tel" class="contact" *ngIf="tel"> 📞 Телефон </a>
        <a [href]="messanger" class="contact" *ngIf="messanger"> 💬 Мессенджер </a>
      </div>
    </div>
  </header>

  <nav class="section-nav">
    <div class="nav-tabs">
      <a routerLink="general" routerLinkActive="active" class="nav-tab">Общая информация</a>
      <a routerLink="schedule" routerLinkActive="active" class="nav-tab">Расписание</a>
      <a routerLink="disciplines" routerLinkActive="active" class="nav-tab">Дисциплины</a>
      <a routerLink="publications" routerLinkActive="active" class="nav-tab">Публикации</a>
      <a routerLink="achievements" routerLinkActive="active" class="nav-tab">Достижения</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</main>

<ng-template #loading>
  Загрузка
</ng-template>
