<div *ngIf="isLoading" class="loading-container">
  Загрузка...
</div>

<div *ngIf="errorMessage" class="error-container">
  <p>Произошла ошибка при загрузке достижений. Пожалуйста, попробуйте снова.</p>
</div>

<h1 class="mb-4">Достижения</h1>

<app-create-button (create)="redirectToAdminPanel()"></app-create-button>

<div *ngIf="response$ | async as response" class="achievement-list">
  <div
    class="achievement-item"
    *ngFor="let achievement of response.results; let index = index"
    (click)="openAchievementById(achievement)"
    [ngClass]="{'even-item': index % 2 === 0, 'odd-item': index % 2 !== 0}">

    <div class="achievement-image">
      <img [src]="achievement.image" alt="Achievement Image"/>
    </div>
    <div class="achievement-content">
      <h2 class="achievement-title">
        {{ achievement.title }}
      </h2>
      <markdown class="achievement-description">
        {{ achievement.description }}
      </markdown>
    </div>
     <app-edit-button
      class="edit-btn"
      (edit)="redirectToEditPage(achievement.id)"
      (click)="$event.stopPropagation()"
     >
    </app-edit-button>
  </div>

  <div *ngIf="response.count > itemsPerPage" class="pagination">
    <pagination
      [itemsPerPage]="itemsPerPage"
      [totalItems]="response.count"
      (pageChanged)="pageChanged($event)"
      [maxSize] = maxSize
      [ngModel]="page"
      nextText=">"
      previousText="<"
    ></pagination>
  </div>
</div>


